{% extends "base.html" %}
{% load static %}
{% block title %}Cafe Time{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
    
        {% for i in coffee%}
        <div class="col">
            {% if sec <= 20 %}
            <img src="{% static 'images/'%}{{ i.image }}" style="background-color: black;"><br>
            {% elif sec <= 40 %}
            <img src="{% static 'images/'%}{{ i.image }}" style="background-color: yellow;"><br>
            {% else %}
            <img src="{% static 'images/'%}{{ i.image }}"><br>
            {% endif %}
          {{ i.name }}
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}