<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Category</title>
    {% load static %}
    <style>
        h3{
            color: green;
            background-color: lightgray;
        }
    </style>
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css"></link>
</head>
<body>

    <h1>咖啡樹的品種</h1>

    <hr>

    <h3>阿拉比卡咖啡(Arabica coffee)</h3>
    <p>原產於東非伊索比亞南部的阿比西 尼亞高原，現今沿海尚有野生種。</p>
    <!-- <img src="/static/images/arabica.png"> -->
    <img src="{% static 'images/arabica.png' %}" style="border: 3px solid brown" onclick="window.alert('Arabica')">

    <h3>羅布斯塔咖啡(Robusta coffee)</h3>
    <p>羅布斯塔咖啡屬於剛果咖啡的突變 種，原產於西非剛果，本種有缺乏香氣之 憾，苦味較強，酸味不足。</p>
    <img src="/static/images/robusta.png">

    <h3>利比亞咖啡(Liberia coffee)</h3>
    <p>原產於西非利比亞，本種香味不佳， 苦味較強。除少數生產國自己消費外，只 有歐洲人飲用利比亞咖啡。</p>
    <img src="/static/images/liberia.png">

    <hr>

    <table>
        <tr>
            <th>Country</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Arabica</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Robusta</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Liberia</td>
            <td>50</td>
        </tr>
    </table>

    <!-- <script src="/static/js/myjs.js"></script> -->
    <script src="{% static 'js/myjs.js' %}"></script>

    <script>
        document.querySelectorAll('img')[1].onclick=function(){
            window.alert('Robusta');
        };
        document.querySelectorAll('img')[2].onclick=function(){
            window.alert('Liberia');
        };

        for (let i = 0; i < 3; i++) {
            document.querySelectorAll('img')[i].onmouseover=function(){
                setBG(this);
            };
            document.querySelectorAll('img')[i].onmouseout=function(){
                clearBG(this);
            };
        }

    </script>
</body>
</html>