<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>咖啡時光</title>
</head>
<body>
    <h1>Welcome to My Cafe!</h1>
    <hr>

    <p><a href="/coffee/">coffee</a></p>
    <p><a href="/tea/">tea</a></p>
    <p><a href="/admin/">admin</a></p>
    <p><a href="/mycookie01/">cookie</a></p>
    <p><a href="/mycookie02/">login(cookie)</a></p>
    <p><a href="/mysession01/">login(session)</a></p>

    <ul>
        <li>point1</li>
        <li>point2</li>
    </ul>
</body>
</html>